container_commands:
  01_migrate:
    command: "python bikebackend/manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python bikebackend/manage.py collectstatic --noinput"
  03_createsu:
    command: "python bikebackend/manage.py createsu"
    leader_only: trueoption_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bikebackend.settings"
    "PYTHONPATH": "/opt/python/current/app/bikebackend:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "bikebackend/bikebackend/wsgi.py"
    StaticFiles: "/static/=bikebackend/static/"